<div>
    <h4 class="page-h">News</h4>
    <p>
        Integer pretium leo urna, id elementum metus interdum id. Donec placerat tincidunt libero sit amet sollicitudin. Suspendisse lacus lectus, consequat vel tristique in, malesuada et tellus. Praesent eget lobortis sapien. Curabitur eget justo et velit dapibus sollicitudin a eget purus. Phasellus vitae ante mollis, rhoncus augue ac, molestie ipsum. Duis imperdiet hendrerit nulla non bibendum. Donec eget lorem dapibus nisi tincidunt cursus eget ut odio. Fusce tempus, nulla in rhoncus facilisis, tellus sem placerat justo, et vestibulum nisl eros eu est. Praesent ipsum turpis, mattis ac aliquam et, mattis a purus. Suspendisse sagittis libero non lacus pretium, ut dignissim lectus placerat.
    </p>
    <blockquote class="blockquote-reverse">
        <p>Fusce tempus, nulla in rhoncus facilisis, tellus sem placerat justo.</p>
        <footer>Cicero, <cite title="Source Title">Roman Empire</cite></footer>
    </blockquote>
</div>